* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

a {
    text-decoration: none;
    color: white;
}

nav {
    height: 10vh;
    background-color: #faa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: yellow;
}